<form action="/tickets" method="POST">
    <div class="col-6 form-group">
        <label class="form-label">Add Seat:</label>
        <input type="text" class="form-control" name="seat" required pattern="[A-F][1-9]\d?  placeholder="Enter Seat">
    </div>
    <div class="col-6 form-group">
        <label class="form-label">Add Price:</label>
        <input type="text" class="form-control" name="price"  placeholder="Enter Price">
    </div>
</form>